# Ignore Python virtual environment
venv/

# Ignore large AST dump files
ast.json

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (if you use VS Code)
.vscode/

# OS files
.DS_Store
Thumbs.dbast.json
